{% extends 'guest/base.html.twig'%}

{% block main %}

            


<h1 class="article-title">Bienvenu sur le site ecommerce de la piscnine </h1>




<h2 class="nav-item"><a href="{{ path('admin-list-admin') }}" class="nav-link">Admin Sector</a> </h2>

{% endblock main %}