<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ asset('assets/css/style.css') }}">
    <title>Accueil - E-Commerce Piscine</title>
</head>
<body>

    <header id="site-header">
        <h1 class="site-title">E-Commerce Piscine</h1>
    </header>

    <main id="main-content">
        <h2>Liste des catégories</h2>
        <ul class="category-list">
            {% for category in categories %}
                <li class="category-item">
            <a href="{{ path('category', {'id' : category.id}) }}"><article>{{ category.title }}</article></a>
                </li>
            {% endfor %}
        </ul>
    </main>
</html>