<!DOCTYPE html>
<html>
<head>
    <title>piscine Ecommerce</title>
</head>
<body>

    <header class="header">
        <h1>piscine Ecommerce</h1>
    </header>
    
    {% block main %}
    {% endblock main %}

</body>